.page4 {
    height: 100vh;
    width: 100vw;
}

.about {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about img {
    height: 50%;
    width: auto;
}

.freelancer {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left3 {
    height: 100%;
    width: 50%;
    text-align: center;
}

.right3 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f1-img {
    width: 50px;
    height: 50px;
    background-color: aqua;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f1-img img {
    width: 30px;
    height: 30px;
}

.left3 h3 {
    color: red;
}

@media (max-width:1002px) {
    .page4 {
        height: auto;
        flex-direction: column;
    }

    .about img {
        width: 100%;
        height: auto;
    }
}