.page3 {
    height: 100vh;
    width: 100vw;
    background-color: rgb(231, 102, 102);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: rgb(33, 179, 179);
    padding: 40px;
    color: white;

}

.card h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 8px;
}

.card hr {
    width: 12%;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 80%;
}


.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;

}

.category-item img {
    width: 80px;
    height: auto;
}

.category-item h4 {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
}

@media (max-width:800px) {
    .icon {
        display: block;
        text-align: center;
        width: 100%;
    }
    .category-item {
        display: inline-block;
        width: 32%;
        margin-bottom: 40px;
    }
}