.page4 {
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.about {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about img {
    height: 50%;
    width: auto;
}

.freelancer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.left3 {
    width: 50%;

}

.right3 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right3 img {
    width: 80%;
    height: auto;
}

.stats-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
}

.stat-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stat-text {
    display: flex;
    flex-direction: column;
}
.stat-text h3 {
    margin-bottom: 4px;
}

.f1-img {
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.f1-img img {
    width: 30px;
    height: 30px;
}

.f2-img {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.792);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.f2-img img {
    width: 30px;
    height: 30px;
}

.left3 h3 {
    color: red;
}

@media (max-width:1002px) {
    .page4 {
        height: auto;
        flex-direction: column;
    }

    .about img {
        width: 100%;
        height: auto;
    }
    .freelancer{
        flex-direction: column;
        gap: 40px;
    }
    .left3{
        width: 100%;
    }
    .right3{
        width: 100%;
    }
    .about p {
        text-align: justify;  
        text-align: center; 
        width: 90%;

    }
}